<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Reset password</title>
  </head>
  <body>
    <p>Hi {{username}},</p>
    <p>You requested a password reset for your account.</p>
    <p>Please use the following link to reset your password:</p>
    <p>
      <a href="{{host}}api/auth/change_password/{{token}}">Reset Password</a>
    </p>
    <p>If you did not sign up for our service, please ignore this email.</p>
    <p>Thanks,</p>
    <p>The Our Team</p>
  </body>
</html>
